<div class="main container">
	<p>Product Design and Manufacturing Process Optimization using state of the art CAD/CAM software with access to a pilot facility with real NC machines and a team of experienced professional.</p>
	<p>Complete project from consulting to pilot and implementation including user training</p>
	<p>Design process analysis and simplification by reducing the number of parts and manufacturing steps</p>
	<p>Tooling and NC machining strategies optimization by reducing costs and increasing quality</p>
	<p>Worldwide consulting services with primary focus on Europe, China and USA</p>
</div>