<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="main container">
  <div class="row marketing">
    <h4>HTML5 Boilerplate</h4>
    <p>
      HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
    </p>

    <h4>Angular</h4>
    <p>
      AngularJS is a toolset for building the framework most suited to your application development.
    </p>

    <h4>Karma</h4>
    <p>Spectacular Test Runner for JavaScript.</p>
  </div>
</div>

<div class="second container">
  <h2>Industrial Consulting</h2>
  <p>Product Design and Manufacturing Process Optimization using state of the art CAD/CAM software with access to a pilot facility with real NC machines and a team of experienced professional.</p>
  <p>Complete project from consulting to pilot and implementation including user training</p>
  <p>Design process analysis and simplification by reducing the number of parts and manufacturing steps</p>
  <p>Tooling and NC machining strategies optimization by reducing costs and increasing quality</p>
  <p>Worldwide consulting services with primary focus on Europe, China and USA</p>
</div>

<div class="third container">
  <h2>Renewable Energy Research</h2>
  <p>Mathematical analysis backed by computer simulation applied to the exploration of new ways of generating clean renewable energy. Systematic approach to exploit the possibilities of the established laws of physic to extract energy from the environment with the purpose of to bring affordable, clean energy to the world with no dependence on fossil fuels.</p>
</div>

<div class="fourth container">
  <h2>Contact Us</h2>
  <div data-ng-controller="help">
    <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
    <div data-ng-show="progress.active()" style="color: red; font-size: 50px;">Sending&hellip;</div>

    <form name="helpForm" novalidate role="form">
      <div class="form-group">
        <label for="name">Your Name </label>
        <span class="label label-danger" data-ng-show="submitted && helpForm.name.$error.required">Required!</span>
        <input type="text" name="name" data-ng-model="name" class="form-control" required />
      </div>

      <div class="form-group">
        <label for="email">Your E-mail address</label>
        <span class="label label-danger" data-ng-show="submitted && helpForm.email.$error.required">Required!</span>
        <span class="label label-danger" data-ng-show="submitted && helpForm.$error.email">Invalid email!</span>
        <input type="email" name="email" data-ng-model="email" class="form-control" required />
      </div>

      <div class="form-group">
        <label for="subjectList">What is the nature of your request?</label>
        <span class="label label-danger" data-ng-show="submitted && helpForm.subjectList.$error.required">Required!</span>
        <select name="subjectList" data-ng-model="subjectList" data-ng-options="id as value for (id, value) in subjectListOptions" class="form-control" required>
          <option value=""></option>
        </select>
      </div>

      <button data-ng-disabled="progress.active()" data-ng-click="submit(helpForm)" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>