<div class="main container">
	<p>Mathematical analysis backed by computer simulation applied to the exploration of new ways of generating clean renewable energy. Systematic approach to exploit the possibilities of the established laws of physic to extract energy from the environment with the purpose of to bring affordable, clean energy to the world with no dependence on fossil fuels.</p>
</div>